extends layout

block content
  .jumbotron
    .container
      h1 How may I help you?
      p Here is some sample text. text text text
      a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Some text about us and some more and some more and some more.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p Some text about us and some more and some more and some more.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get in touch
        p Some text about us and some more and some more and some more.
        a.btn.btn-default(href='#') View Details
